.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .online-status {
    border: 1px solid black;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
  }

  .is-online {
    background-color: green;
  }

  .is-offline {
    background-color: red;
  }
}