.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;

  &-result {
    width: 100%;
    min-height: 1px;
    max-height: 80%;
    border: 1.5px solid #8b8b8b;
    border-radius: 0 0 3px 3px;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    overflow: 0 auto;
  }

  .users-list {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .user-item {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0.5rem 0.5rem;
      height: 2rem;

      .user-name {
        font-weight: 600px;
      }

      .online-status {
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
      }

      .isOnline {
        background-color: green;
      }

      .isOffline {
        background-color: red;
      }
    }
  }
}