.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 900;
  position: fixed;

  .error-container {
    width: 80%;
    height: 4rem;
    position: absolute;
    background-color: white;
    border-radius: 0 0 4px 4px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .error-message {
      color: red;
    }
  }
}